@{
    ViewData["Title"] = "Admin Dashboard";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AdminDashboard.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>

    <style>
        .alert {
            position: absolute;
            top: 0;
            width: 100%;
            height: 50px;
            padding: 10px;
            text-align: center;
            font-size: 1.1rem;
            z-index: 10;
        }

        .alert-success {
            background-color: #d4edda;
            color: #155724;
        }

        .alert-danger {
            background-color: #f8d7da;
            color: #721c24;
        }
    </style>
</head>
<body>
    <!-- Display Success or Error Messages -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="banner">
        <div class="banner-content">
            <h1>Welcome to the Passport Generation System</h1>
            <p>Your trusted partner in simplifying the passport application process.</p>
        </div>
    </div>

    <h1>Admin Dashboard</h1>
    <div class="options-list">
        <div class="option-group">
            <h2>Application Management</h2>
            <div class="option-card">
                <h3>View Applications</h3>
                <a asp-action="ApplicationList">View Now</a>
            </div>
           
        </div>

        <div class="option-group">
            <h2>User Management</h2>
            <div class="option-card">
                <h3>View Signup User Details</h3>
                <a asp-action="ViewUsers">View Now</a>
            </div>
        </div>

        <div class="option-group">
            <h2>Admin Management</h2>
            <div class="option-card">
                <h3>Add New Admin</h3>
                <a asp-action="AddNewAdmin">Add New Admin</a>
            </div>
        </div>
        <div class="option-group">
            <h2>Feedbacks</h2>
            <div class="option-card">
                <h3>User Feedbacks</h3>
                <a asp-action="ViewFeedback">View Now</a>
            </div>
        </div>
    </div>

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(5000, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
</body>

</html>
